<a href="https://colab.research.google.com/github/Basicsj/dataAnalysis/blob/main/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.파이썬 자료형과 연산

In [ ]:
a = 10              # number
b = '파이썬'        #string
print( a + b )

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#오류

1. 파이썬 버전 출력

In [ ]:
!python -V

Python 3.10.12

In [ ]:
import sys
sys.version
print('---',sys.version)

--- 3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
import sys
print('---',sys.version)
sys.version

--- 3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

'3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]'

In [ ]:
# 2. 파이썬 설치 위치
import sys
print(sys.executable)

/usr/bin/python3

In [ ]:
# 2. 파이썬 설치 위치 - 한번 import sys 했으면 다음엔 안넣어줘도 됨
print(sys.executable)

/usr/bin/python3

In [ ]:
# 물리적 폴더 위치
import os
os.getcwd()

'/content'

In [ ]:
10+3*4

22

In [ ]:
# ✓ 문제1: 10 + 3 x 4 결과 출력
print(10 + 3 * 4)
# ✓ 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
iphone = 15
price = 1300000
print(iphone*price)
# ✓ 문제3: 주어진 임의의 자연수가 홀수인지 짝수인지 판별하는 방법은?
x = 10
if x % 2 == 0:
  print('짝수')
else :
  print('홀수')
# ✓ 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력
print(2**3 * 5**4 *3 **4)

22
19500000
짝수
405000

In [ ]:
# ✓ 문제3: 주어진 임의의 자연수가 홀수인지 짝수인지 판별하는 방법은?
x = 10
print('짝수') if x%2 == 0 else print('홀수')

짝수

### 파이썬 자료형(Data Type) 확인 함수 : type()

In [ ]:
print( type( 123 ) )
print( type( 3.14 ) )
print( type( "123" ) )
print( type( [123] ) )
print( type( ( 123, ) ))
print( type( {'123' : 123 }) )
print( type( {23} ) )
print( type( True ) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>

# 2.표준 입출력

#문자열 데이터를 숫자로 변환하기

In [ ]:
a= input( '숫자를 입력하세요: ')
print( type(a) )
a = int(a)    # 정수로 변환하는 함수 : int()
print( type(a) )

숫자를 입력하세요:100
<class 'str'>
<class 'int'>

In [ ]:
# a= input( '숫자를 입력하세요: ')
# a = int(a)

a = int(input( '숫자를 입력하세요: '))

숫자를 입력하세요: 100
숫자를 입력하세요: 100

In [ ]:
# 문자열 포맷팅
a = input( '키보드로 입력해 주세요.' )
print( '변수 a의 값은', a, '입니다.' )
print( '변수 a의 값은 %s 입니다.' % a )
print( f'변수 a의 값은 {a} 입니다.' )

키보드로 입력해 주세요.사과
변수 a의 값은 사과 입니다.
변수 a의 값은 사과 입니다.
변수 a의 값은 사과 입니다.

# 실습문제

In [ ]:
num1 = int(input( '첫 번째 숫자: ' ))
num2 = int(input( '두 번째 숫자: ' ))
print('-' * 30)
print( f'덧셈:  {num1} + {num2} = {num1+num2:10}')
print( f'뺄셈:  {num1} - {num2} = {num1-num2:>10}')  # > : 오른쪽 정렬   10은 10자를 의미
print( f'곱셈:  {num1} * {num2} = {num1*num2:<10}')  # > : 왼쪽 정렬
print( f'몫:   {num1} // {num2} = {num1//num2:^10}')  # > : 가운데 정렬
print( f'나머지:{num1} % {num2} = {num1%num2:10}')

첫 번째 숫자: 50
두 번째 숫자: 3
------------------------------
덧셈:  50 + 3 =         53
뺄셈:  50 - 3 =         47
곱셈:  50 * 3 = 150
몫:   50 // 3 =     16
나머지:50 % 3 =          2

In [ ]:
# 정렬
val = input( '첫 번째 숫자: ' )
print(f'a의 값: {val:>10}')  # > : val값을 10자리로 오른쪽 정렬
print(f'a의 값: {val:<10}')  # < : val값을 10자리로 왼쪽 정렬
print(f'a의 값: {val:^10}')  # ^ : val값을 10자리로 가운데 정렬

첫 번째 숫자: 12345
a의 값:      12345
a의 값: 12345
a의 값:   12345

#속력계산 실습 : 시간은 속력 분의 거리

In [ ]:
velocity = float(input('속력을 입력해 주세요(km/h) : '))
distance = float(input('거리를 입력해 주세요(km) : '))
print('-' * 30)
print( f'속력 : {velocity} km/h' )   #{velocity:.1f} => 다른 소수점 표현방법 ->소수점 자리 제약시 사용
print( f'거리 : {distance} km' )
print( f'시간 : {distance / velocity} h' )

속력을 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 340
------------------------------
속력 : 100.0 km/h
거리 : 340.0 km
시간 : 3.4 h

### 내장된 수학함수

In [ ]:
import math

print(f'원주율: {math.pi}')
print(f'절대값: {abs(-10)}')

원주율: 3.141592653589793
절대값: 10

#### 실습문제

In [ ]:
import math
# ✓ 문제1: 반지름이 4인 원의 넓이 출력
r = 4
print(f'원의 넓이 : {round(math.pi * math.pow(r,2), 4)}')
# ✓ 문제2: 3.14 곱하기 2 나누기 7의 값을 반올림하여 계산 결과 출력
print(f'계산결과: {round(3.14 *2 / 7)}')
# ✓ 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력
print(f'원의 둘레: {2 * 3.14 * r}')

원의 넓이 : 50.2655
계산결과: 1
원의 둘레: 25.12

In [ ]:
import math
# ✓ 문제1: 반지름이 4인 원의 넓이 출력
r = 4
pi = math.pi
print(f'원의 넓이 : {round(pi * math.pow(r,2), 4)}')
# ✓ 문제2: 3.14 곱하기 2 나누기 7의 값을 반올림하여 계산 결과 출력
pi = 3.14
print(f'계산결과: {round(pi*2 / 7)}')
# ✓ 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력
print(f'원의 둘레: {2 * 3.14 * r}')

원의 넓이 : 50.2655
계산결과: 1
원의 둘레: 25.12

## [실습문제] 숫자 입력받아 계산하기

a + aa + aaa = ?

In [ ]:
a = input( '1~9까지의 정수 1개 입력: ')
#aa = int(a+a)
#aaa = int(a+a+a)
print( int(a) + int(a+a) + int(a+a+a) )

1~9까지의 정수 1개 입력: 7
861

In [ ]:
a = input( '1~9까지의 정수 1개 입력: ')
print(f'{a} + {a*2} + {a*3} = {int(a) + int(a*2) + int(a*3)}')

1~9까지의 정수 1개 입력: 7
7 + 77 + 777 = 861

In [ ]:
a= int(input('정수를 입력하세요(1~9):'))
a10= a*10+a
a100= a*100+a10
sum=a+a10+a100
print(f'{a}+{a10}+{a100}={sum}')

정수를 입력하세요(1~9):7
7+77+777=861

In [ ]:
a = input('정수를 입력하세요(1~9): ')
a1 = int(a)
a2 = int(a*2)
a3 = int(a*3)
sum1 = a1 + a2 + a3
print(f'{a1} + {a2} + {a3} = {sum1}')

정수를 입력하세요(1~9): 7
7 + 77 + 777 = 861

In [ ]:
a = input('1~9까지의 정수 중 1개 입력: ')
add = int(a) + int(a+a) + int(a+a+a)
print(add)

1~9까지의 정수 중 1개 입력: 7
861

In [ ]:
eval('7 + 77 + 777')
calc = f'{a} + {a*2} + {a*3}'
print( f'{calc} = {eval(calc)}')

7 + 77 + 777 = 861

In [ ]:
a = input("정수를 입력하세요")
print(a ,' + ', a*2, ' + ', a*3, '=',int(a)+int(a*2)+int(a*3))

정수를 입력하세요7
7  +  77  +  777 = 861